@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .font-roobert {
    font-family: "Roobert", sans-serif;
  }
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
}